{% extends "layout.html" %} {% block content %}
<div class="flex justify-center items-center h-screen">
	<div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">
		<h2 class="text-2xl font-bold mb-6 text-gray-800">Reset Password</h2>
		<form
			method="POST"
			action="{{ url_for('auth.reset_password', token=token) }}"
		>
			{{ form.hidden_tag() }}
			<div class="mb-4 relative">
				{{ form.password.label(class="block text-gray-700") }}
				<div class="relative">
					<i
						class="fas fa-lock absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400"
					></i>
					{{ form.password(class="border border-gray-300 p-2 pl-10 w-full") }}
				</div>
			</div>
			<div class="mb-4 relative">
				{{ form.confirm_password.label(class="block text-gray-700") }}
				<div class="relative">
					<i
						class="fas fa-lock absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400"
					></i>
					{{ form.confirm_password(class="border border-gray-300 p-2 pl-10
					w-full") }}
				</div>
			</div>
			<div class="mb-4">
				<input type="checkbox" id="show-password" class="mr-2" />
				<label for="show-password" class="text-gray-700">Show Password</label>
			</div>
			{{ form.submit(class="bg-blue-500 text-white px-4 py-2 rounded w-full") }}
		</form>
	</div>
</div>
<script>
	document.addEventListener("DOMContentLoaded", function () {
		const passwordField = document.querySelector('[name="password"]');
		const confirmPasswordField = document.querySelector(
			'[name="confirm_password"]'
		);
		const showPasswordCheckbox = document.getElementById("show-password");

		showPasswordCheckbox.addEventListener("change", () => {
			const type = showPasswordCheckbox.checked ? "text" : "password";
			passwordField.type = type;
			confirmPasswordField.type = type;
		});
	});
</script>
{% endblock %}
