<div class="min-h-screen flex flex-col">
	<header class="p-4 flex justify-between items-center">
		<div>
			<h1 class="text-3xl font-bold">Summary</h1>
		</div>
		<div class="flex items-center">
			<span class="text-lg mx-4">16 June 2024</span>
			<i class="fas fa-bell text-xl mx-4"></i>
			<a href="#" class="relative">
				<img
					src="{{ url_for('static', filename='uploads/' + current_user.profile_picture) }}"
					alt="Profile Picture"
					class="w-10 h-10 rounded-full"
					loading="lazy"
				/>
				<span
					class="absolute top-0 right-0 inline-block w-2 h-2 bg-red-500 rounded-full"
				></span>
			</a>
		</div>
	</header>
	<main class="flex-1 p-6 flex flex-col lg:flex-row mt-20">
		<div class="flex-1">
			<div
				class="bg-white rounded-lg shadow p-10 flex items-start justify-between mb-6 relative min-h-[300px]"
			>
				<div>
					<h2 class="text-4xl font-bold mb-4">
						Hi, {{ current_user.first_name }}!
					</h2>
					<p class="text-2xl mb-6">What are we doing today?</p>
					<div class="mt-4 flex flex-wrap gap-2">
						<button
							id="addBP"
							class="bg-red-100 text-red-500 px-4 py-2 rounded flex items-center"
						>
							<i class="fas fa-plus-circle mr-2"></i> Blood Pressure
						</button>
						<button
							id="addCholesterol"
							class="bg-green-100 text-green-500 px-4 py-2 rounded flex items-center"
						>
							<i class="fas fa-plus-circle mr-2"></i> Cholesterol
						</button>
						<button
							id="addGlucose"
							class="bg-yellow-100 text-yellow-500 px-4 py-2 rounded flex items-center"
						>
							<i class="fas fa-plus-circle mr-2"></i> Glucose
						</button>
						<button
							id="addHeartRate"
							class="bg-blue-100 text-blue-500 px-4 py-2 rounded flex items-center"
						>
							<i class="fas fa-plus-circle mr-2"></i> Heart Rate
						</button>
					</div>
				</div>
				<div class="hidden lg:block absolute bottom-2 right-10">
					<img
						src="{{ url_for('static', filename='images/3d-casual-life-doctors-in-white-coats.png') }}"
						alt="Doctors in white coats"
						class="w-48 h-auto"
					/>
				</div>
			</div>
			<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
				<div
					class="bg-white p-6 rounded-lg shadow-lg flex flex-col items-start"
				>
					<div class="card-icon bg-red-100 text-red-500 mb-4">
						<i class="fas fa-heartbeat text-2xl"></i>
					</div>
					<h3 class="text-lg font-semibold">Blood Pressure</h3>
					<p class="text-2xl font-bold">
						{% if bp_data %} {{ bp_data[-1].systolic }}/{{ bp_data[-1].diastolic
						}} mmHg {% else %} No data {% endif %}
					</p>
				</div>
				<div
					class="bg-white p-6 rounded-lg shadow-lg flex flex-col items-start"
				>
					<div class="card-icon bg-yellow-100 text-yellow-500 mb-4">
						<i class="fas fa-vial text-2xl"></i>
					</div>
					<h3 class="text-lg font-semibold">Cholesterol</h3>
					<p class="text-2xl font-bold">
						{% if cholesterol_data %} {{ cholesterol_data[-1].cholesterol_level
						}} mg/dL {% else %} No data {% endif %}
					</p>
				</div>
				<div
					class="bg-white p-6 rounded-lg shadow-lg flex flex-col items-start"
				>
					<div class="card-icon bg-blue-100 text-blue-500 mb-4">
						<i class="fas fa-heart text-2xl"></i>
					</div>
					<h3 class="text-lg font-semibold">Heart Rate</h3>
					<p class="text-2xl font-bold">
						{% if heart_rate_data %} {{ heart_rate_data[-1].heart_rate }} bpm {%
						else %} No data {% endif %}
					</p>
				</div>
				<div
					class="bg-white p-6 rounded-lg shadow-lg flex flex-col items-start"
				>
					<div class="card-icon bg-green-100 text-green-500 mb-4">
						<i class="fas fa-tint text-2xl"></i>
					</div>
					<h3 class="text-lg font-semibold">Blood Glucose</h3>
					<p class="text-2xl font-bold">
						{% if glucose_data %} {{ glucose_data[-1].glucose_level }} mg/dL {%
						else %} No data {% endif %}
					</p>
				</div>
			</div>
		</div>
		<aside class="lg:w-1/4 bg-white rounded-lg shadow p-6 mt-6 lg:mt-0 lg:ml-6">
			<h2 class="text-lg font-semibold mb-4">Notifications</h2>
			<div class="space-y-4">
				<div class="bg-yellow-100 p-4 rounded-lg flex items-center">
					<i class="fas fa-exclamation-circle text-yellow-500 text-lg"></i>
					<div class="ml-4">
						<p class="text-sm">
							You've added new project recently, with no deadline.
						</p>
					</div>
				</div>
				<div class="bg-red-100 p-4 rounded-lg flex items-center">
					<i class="fas fa-exclamation-triangle text-red-500 text-lg"></i>
					<div class="ml-4">
						<p class="text-sm">Project owner Adam requested a refund.</p>
					</div>
				</div>
				<div class="bg-blue-100 p-4 rounded-lg flex items-center">
					<i class="fas fa-info-circle text-blue-500 text-lg"></i>
					<div class="ml-4">
						<p class="text-sm">
							Today, it's Tata's anniversary! Wish her happy birthday!
						</p>
					</div>
				</div>
			</div>
		</aside>
	</main>
</div>

  <!-- Add Blood Pressure Data Modal -->
  <div id="addBPModal" class="fixed inset-0 bg-gray-800 bg-opacity-75 flex items-center justify-center hidden">
	<div class="bg-white p-6 rounded-lg shadow-lg w-11/12 md:w-1/3 relative">
		<button id="closeBPModalButtonTop" class="absolute top-2 right-2 text-gray-500 hover:text-gray-700">
			<i class="fas fa-times"></i>
		</button>
		<h2 class="text-xl font-bold mb-4">Add Blood Pressure Data</h2>
		<form id="addBPForm" method="POST" action="{{ url_for('main.blood_pressure') }}">
			{{ bp_form.hidden_tag() }}
			<div class="mb-4">
				{{ bp_form.systolic.label(class="block text-gray-700 text-sm font-bold mb-2") }}
				{{ bp_form.systolic(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
			</div>
			<div class="mb-4">
				{{ bp_form.diastolic.label(class="block text-gray-700 text-sm font-bold mb-2") }}
				{{ bp_form.diastolic(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
			</div>
			<div id="bpFormMessage" class="text-green-500 mb-4 hidden">Data added successfully!</div>
			<div id="bpFormErrorMessage" class="text-red-500 mb-4 hidden">Error adding data!</div>
			<div class="flex items-center justify-between">
				<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">Add Data</button>
				<button type="button" id="closeBPModalButton" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Close</button>
			</div>
		</form>
	</div>
</div>

<!-- Add Cholesterol Data Modal -->
<div id="addCholesterolModal" class="fixed inset-0 bg-gray-800 bg-opacity-75 flex items-center justify-center hidden">
	<div class="bg-white p-6 rounded-lg shadow-lg w-11/12 md:w-1/3 relative">
		<button id="closeCholesterolModalButtonTop" class="absolute top-2 right-2 text-gray-500 hover:text-gray-700">
			<i class="fas fa-times"></i>
		</button>
		<h2 class="text-xl font-bold mb-4">Add Cholesterol Data</h2>
		<form id="addCholesterolForm" method="POST" action="{{ url_for('main.cholesterol') }}">
			{{ cholesterol_form.hidden_tag() }}
			<div class="mb-4">
				{{ cholesterol_form.cholesterol_level.label(class="block text-gray-700 text-sm font-bold mb-2") }}
				{{ cholesterol_form.cholesterol_level(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
			</div>
			<div id="cholesterolFormMessage" class="text-green-500 mb-4 hidden">Data added successfully!</div>
			<div id="cholesterolFormErrorMessage" class="text-red-500 mb-4 hidden">Error adding data!</div>
			<div class="flex items-center justify-between">
				<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">Add Data</button>
				<button type="button" id="closeCholesterolModalButton" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Close</button>
			</div>
		</form>
	</div>
</div>
<!-- Add Glucose Data Modal -->
<div id="addGlucoseModal" class="fixed inset-0 bg-gray-800 bg-opacity-75 flex items-center justify-center hidden">
    <div class="bg-white p-6 rounded-lg shadow-lg w-11/12 md:w-1/3 relative">
        <button id="closeGlucoseModalButtonTop" class="absolute top-2 right-2 text-gray-500 hover:text-gray-700">
            <i class="fas fa-times"></i>
        </button>
        <h2 class="text-xl font-bold mb-4">Add Glucose Data</h2>
        <form id="addGlucoseForm" method="POST" action="{{ url_for('main.glucose') }}">
            {{ glucose_form.hidden_tag() }}
            <div class="mb-4">
                {{ glucose_form.glucose_level.label(class="block text-gray-700 text-sm font-bold mb-2") }}
                {{ glucose_form.glucose_level(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
            </div>
            <div id="glucoseFormMessage" class="text-green-500 mb-4 hidden">Data added successfully!</div>
            <div id="glucoseFormErrorMessage" class="text-red-500 mb-4 hidden">Error adding data!</div>
            <div class="flex items-center justify-between">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">Add Data</button>
                <button type="button" id="closeGlucoseModalButton" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Close</button>
            </div>
        </form>
    </div>
</div>

<!-- Add Heart Rate Data Modal -->
<div id="addHeartRateModal" class="fixed inset-0 bg-gray-800 bg-opacity-75 flex items-center justify-center hidden">
    <div class="bg-white p-6 rounded-lg shadow-lg w-11/12 md:w-1/3 relative">
        <button id="closeHeartRateModalButtonTop" class="absolute top-2 right-2 text-gray-500 hover:text-gray-700">
            <i class="fas fa-times"></i>
        </button>
        <h2 class="text-xl font-bold mb-4">Add Heart Rate Data</h2>
        <form id="addHeartRateForm" method="POST" action="{{ url_for('main.heart_rate') }}">
            {{ heart_rate_form.hidden_tag() }}
            <div class="mb-4">
                {{ heart_rate_form.heart_rate.label(class="block text-gray-700 text-sm font-bold mb-2") }}
                {{ heart_rate_form.heart_rate(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
            </div>
            <div id="heartRateFormMessage" class="text-green-500 mb-4 hidden">Data added successfully!</div>
            <div id="heartRateFormErrorMessage" class="text-red-500 mb-4 hidden">Error adding data!</div>
            <div class="flex items-center justify-between">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">Add Data</button>
                <button type="button" id="closeHeartRateModalButton" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Cancel</button>
            </div>
        </form>
    </div>
</div>

<!-- Rest of HTML content -->
</div>
